@model IEnumerable<ProductModel>
@{
    ViewData["title"] = "Product Listed";
}
<h3>ListProduct</h3>
<hr />
<a asp-action="Create" asp-controller="Product"><button type="button" class="btn btn-success">Add Product</button></a>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Image</th>
            <th scope="col">Slug</th>
            <th scope="col">Category</th>
            <th scope="col">Brand</th>
            <th scope="col">Manage</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <th scope="row">1</th>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.Price</td>
                <td><img src="~/media/products/@item.Image" width="120" /> @item.Image </td>
                <td>@item.Slug</td>
                <td>@item.Category.Name</td>
                <td>@item.Brand.Name</td>
                <td>
                    <a asp-action="Edit" asp-controller="Product" asp-route-Id="@item.Id"><button type="button" class="btn btn-primary">Edit</button></a>
                    <a asp-action="Delete" asp-controller="Product" asp-route-Id="@item.Id"><button type="button" class="btn btn-danger confirmDeletion">Delete</button></a>
                </td>
            </tr>  
        }
    </tbody>
</table>
